/* 引入字体图标 */
@font-face {
    font-family: 'icomoon';
    src:  url('../../../static/fonts/icomoon.eot?rkcc0f');
    src:  url('../../../static/fonts/icomoon.eot?rkcc0f#iefix') format('embedded-opentype'),
      url('../../../static/fonts/icomoon.ttf?rkcc0f') format('truetype'),
      url('../../../static/fonts/icomoon.woff?rkcc0f') format('woff'),
      url('../../../static/fonts/icomoon.svg?rkcc0f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.header {
    z-index: 10;
}

/* 搜索模块 */
.search {
    position: fixed;
    top: 8px;
    left: 40%;
    width: 500px;
    height: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    z-index: 10;
    transform: translate(-50%, 0);
}
.search:hover {
    border: 0;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);
}
.search button {
    float: right;
    height: 38px;
    border: 0;
    width: 10%;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    color: #2368b1;
    font-size: 0;
    cursor: pointer;
}
.search button::before {
    content: '\ec15';
    font-family: icomoon;
    font-size: 28px;
}
.search input {
    float: left;
    width: 90%;
    height: 38px;
    border: 0;
    padding-left: 15px;
    border-radius: 20px;
    outline: none;
}

/* 内容区域 */
.content {
    min-height: 700px;
}
    /* 提示文本 */
.content .msg{
    margin-top: 90px;
    font-size: 16px;
    font-weight: 750;
    margin-bottom: 15px;
}
.content .copyright {
    padding: 5px 30px  10px;
    color: #888;
    font-size: 12px;
    text-align: right;
}
.content .paperlist ul li {
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
}
        /* 标题 */
.content .paperlist ul li h3 a {
    color: #2368b1;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}
        /* 论文信息 */
.content .paperlist ul li .info {
    color: #667777;
}
.content .paperlist ul li .info>span {
    padding-right: 20px;
    line-height: 30px;
}
.content .paperlist ul li .info .kind {
    color: #ffd700;
    font-weight: 700;
}
    /* 摘要 */
.content .paperlist ul li .abstract {
    position: relative;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* .content .paperlist ul li .abstract:hover {
    display: block;
} */
.content .paperlist ul li .abstract .tip {
    color: #333;
    font-weight: 700;
}
.content .paperlist ul li .abstract p {
    display: inline;
    color: #333;
}

    /* 其他 */
.content .paperlist ul li .other {
    margin-top: 5px;
    font-size: 12px;
    text-align: right;
}
/* .content .paperlist ul li .other button {
    float: left;
    width: 40px;
    height: 24px;
    border: 1px solid #2368b1;
    border-radius: 5px;
    color: #2368b1;
} */
.content .paperlist ul li .other span {
    /* float: right; */
    padding-right: 20px;
    line-height: 24px;
    color: #666;
}

.Expand {
    color: #1857b6;
    cursor: pointer;
    display: inline;
}
.Expand:hover {
    text-decoration:underline;
}

.topic {
    font-size: 15px;
    font-weight: 1000;
    display: block;
}

.selecter {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    color: #2e3743;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 30px 5px 10px;
    text-overflow: ellipsis;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-property: background-color,border,fill;
    transition-property: background-color,border,fill;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
    width: 220px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-gradient {
	text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    font-size: 14px;
    background: #6698cb;
}

.btn-gradient:active {
    top: 4px;	
    cursor: pointer;
}


button[disabled] {
    color: white !important;
    background: #c7c7c7 !important;
}