<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../../css/search/author/detail.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/author/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/ccfrank.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>{{ author.name }}</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
        });

        function ccf() {
            let boxes = document.querySelectorAll(".ccf_check");
            let pubs = document.querySelectorAll("tr");
            for(let i=1; i<pubs.length; i++) {
                if(pubs[i].className.indexOf("CCF-a")!==-1) {
                    pubs[i].style.display = (boxes[0].checked ? "table-row" : "none");
                }
                if(pubs[i].className.indexOf("CCF-b")!==-1) {
                    pubs[i].style.display = (boxes[1].checked ? "table-row" : "none");
                }
                if(pubs[i].className.indexOf("CCF-c")!==-1) {
                    pubs[i].style.display = (boxes[2].checked ? "table-row" : "none");
                }
                if(pubs[i].className.indexOf("CCF-none")!==-1) {
                    pubs[i].style.display = (boxes[3].checked ? "table-row" : "none");
                }
            }
        }

        function Journal() {
            let box = document.querySelector("#Journal_check");
            box.attributes[0].value = 1 - box.attributes[0].value;
            let pubs = document.querySelectorAll("tr");
            for(let i=1; i<pubs.length; i++) {
                if(pubs[i].className.indexOf("Journal")!==-1) {
                    pubs[i].style.display = (box.attributes[0].value=='1' ? "table-row" : "none");
                }
            }
        }
        
        function Conference() {
            let box = document.querySelector("#Conference_check");
            box.attributes[0].value = 1 - box.attributes[0].value;
            let pubs = document.querySelectorAll("tr");
            for(let i=1; i<pubs.length; i++) {
                if(pubs[i].className.indexOf("Conference")!==-1) {
                    pubs[i].style.display = (box.attributes[0].value=='1' ? "table-row" : "none");
                }
            }
        }

        function Other() {
            let box = document.querySelector("#Other_check");
            box.attributes[0].value = 1 - box.attributes[0].value;
            let pubs = document.querySelectorAll("tr");
            for(let i=1; i<pubs.length; i++) {
                if(pubs[i].className.indexOf("Conference")==-1 &&  pubs[i].className.indexOf("Journal")===-1) {
                    pubs[i].style.display = (box.attributes[0].value=='1' ? "table-row" : "none");
                }
            }
        }
    </script>
</head>
<body>
     <!-- 头部区域 -->
     <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- banner区域 -->
    <div class="banner">
        <ul class="nav w">
            <li>
                <h4>CCF-Rank</h4>
                <div class="select">
                    <ul>
                        <li><input type="checkbox" checked="checked" onclick="ccf()" class="ccf_check" />CCF-A({{ author.ccfa }})</li>
                        <li><input type="checkbox" checked="checked" onclick="ccf()" class="ccf_check" />CCF-B({{ author.ccfb }})</li>
                        <li><input type="checkbox" checked="checked" onclick="ccf()" class="ccf_check" />CCF-C({{ author.ccfc }})</li>
                        <li><input type="checkbox" checked="checked" onclick="ccf()" class="ccf_check" />None({{ author.ccfnone }})</li>
                    </ul>
                </div>
            </li>
            <li><h4 value="1" onclick="Journal()" id="Journal_check" />Journal({{ author.journals }})</h4></li>
            <li><h4 value="1" onclick="Conference()" id="Conference_check" />Conference({{ author.conferences }})</h4></li>
            <li><h4 value="1" onclick="Other()" id="Other_check" />Other({{ author.others }})</h4></li>
        </ul>
    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <div class="left">
            <div class="tips">
                <span>Author: {{ author.name }}</span>
            </div>
            <div class="paperlist clearfix">
                <table>
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Authors</td>
                            <td>Date</td>
                            <td>Kind</td>
                            <td>Rank</td>
                            <td>More</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in author.publications %}
                        <tr class="CCF-{{pub.rank}} {{pub.type}}tr">
                            <td class="title">{{ pub.url|safe }}</td>
                            <td>
                                {% for author in pub.author %}
                                    {% if forloop.last %}
                                        <span>{{ author.0|safe }}</span>
                                    {% else %}
                                        <span>{{ author.0|safe }},</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ pub.year }}</td>
                            <td>{{ pub.kind }}</td>
                            <td>
                                <div class="ccf-rank ccf-{{pub.rank}}">
                                    ccf-{{ pub.rank }}
                                </div>
                            <td>
                                <form action="{% url 'article' pub.doi %}">
                                    <button type="submit" class="detail_btn">detail</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="right">
            <div id="author">
                <div class="hd">Person information</div>
                <div class="bd">
                    <div class="author_name">
                        {{ author.name }}
                    </div>
                <!-- begin -->
                    <span class="personinfo">
                        <div><span>Publications: </span>{{ author.papers }}</div>
                        {% for affiliation in author.affiliations %}
                            {% if forloop.first %}
                                <div><span>Affiliation: </span>{{ affiliation }}</div>
                            {% else %}
                                <div><span>Affiliation(former): </span>{{ affiliation }}</div>
                            {% endif %}
                        {% endfor %}
                    </span>
                <!-- end -->
                </div>
            </div>
            <div id="publication">
                <div class="hd">Publication</div>
                <div class="bd">
                    <iframe id="frame1" src="{% static '/publish.html' %}" frameborder="no" scrolling="no"></iframe>
                </div>
            </div>
            <div id="co-author">
                <div class="hd">Co-author network</div>
                <div class="bd">
                    <iframe id="frame2" src="{% static '/coauthor.html' %}" frameborder="no" scrolling="no"></iframe>
                </div>
            </div>
            <div id="related-author">
                <div class="hd">Top related authors</div>
                <div class="bd">
                    {% for co in coauthor %}
                        <div class="container">
                            <div class="coauthor">{{ co.0|safe }}</div>
                            <span class="copub">co-publications: {{ co.1 }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>