<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../../css/search/author/detail.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/author/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/ccfrank.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>{{ author.name }}</title>
    <script>
        var arr = new Array(4);
        for (let i=0; i<4; i++) {
            arr[i] = new Array(3);
            for (let j=0; j<3; j++) arr[i][j] = 1;
        }
        document.addEventListener("DOMContentLoaded", function() {

        });

        function check(event) {
            let boxes = document.querySelectorAll(".check");
            inner = event.target.innerHTML;
            if (inner.length) {
                let idx = 0;
                if (inner[0]=='C') idx = 1;
                else if (inner[0]=='O') idx = 2;
                boxes[4+idx].attributes[0].value = 1 - boxes[4+idx].attributes[0].value;
            }
            for (let i=0; i<4; i++) {
                for (let j=0; j<3; j++) {
                    arr[i][j] = boxes[i].checked & boxes[4+j].attributes[0].value;
                }
            }
            let pubs = document.querySelectorAll("tr");
            let str = ["CCF-a", "CCF-b", "CCF-c", "CCF-none"];
            let str2 = ["Journal", "Conference"];
            for(let i=1; i<pubs.length; i++) {
                let x = 0, y = 0;
                for (; x<4; x++) {
                    if(pubs[i].className.indexOf(str[x])!==-1) {
                        break;
                    }
                }
                for (; y<2; y++) {
                    if(pubs[i].className.indexOf(str2[y])!==-1) {
                        break;
                    }
                }
                pubs[i].style.display = (arr[x][y] ? "table-row" : "none");
            }
        }   

        function control(event) {
            parent = event.target.parentNode.parentNode;
            hd = parent.children[0];
            bd = parent.children[1];
            if (bd.style.display==="table") {
                bd.style.display = "none";
                bd.style.height = "0%";
                hd.style.height = "100%";
                parent.style.height = "43px";
            } else {
                bd.style.display = "table";
                bd.style.height = "87%";
                hd.style.height = "13%";
                parent.style.height = "330px";
            }   
        }
    </script>
</head>
<body>
     <!-- 头部区域 -->
     <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- banner区域 -->
    <div class="banner">
        <ul class="nav w">
            <li>
                <h4>CCF-Rank</h4>
                <div class="select">
                    <ul>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />CCF-A({{ author.ccfa }})</li>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />CCF-B({{ author.ccfb }})</li>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />CCF-C({{ author.ccfc }})</li>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />None({{ author.ccfnone }})</li>
                    </ul>
                </div>
            </li>
            <li><h4 value=1 onclick="check(event)" class="check" />Journal({{ author.journals }})</h4></li>
            <li><h4 value=1 onclick="check(event)" class="check" />Conference({{ author.conferences }})</h4></li>
            <li><h4 value=1 onclick="check(event)" class="check" />Other({{ author.others }})</h4></li>
        </ul>
    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <div class="left">
            <div class="tips">
                <span>Author: {{ author.name }}</span>
            </div>
            <div class="paperlist clearfix">
                <table>
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Authors</td>
                            <td>Year</td>
                            <td>Venue</td>
                            <td>Rank</td>
                            <td>More</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in author.publications %}
                        <tr class="CCF-{{pub.rank}} {{pub.type}}tr">
                            <td class="title">{{ pub.url|safe }}</td>
                            <td>
                                {% for author in pub.author %}
                                    {% if forloop.last %}
                                        <span>{{ author.0|safe }}</span>
                                    {% else %}
                                        <span>{{ author.0|safe }},</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ pub.year }}</td>
                            <td>{{ pub.kind }}</td>
                            <td>
                                <div class="ccf-rank ccf-{{pub.rank}}">
                                    {% ifequal pub.rank 'none' %}
                                        none
                                    {% else %}
                                        ccf-{{ pub.rank }}
                                    {% endifequal %}
                                </div>
                            <td>
                                <form action="{% url 'article' pub.doi %}">
                                    <button type="submit" class="detail_btn">detail</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="right">
            <div id="author" style="height: 330px">
                <div class="hd" style="height: 13%">
                    <div class="tmp">
                        Person information
                    </div> 
                    <img onclick="control(event)" class="control" src="{% static '/images/swap.svg' %}" width="25px" height="25px" style="margin: auto" />
                </div>
                <div class="bd" style="display: table; height: 87%">
                    <div class="author_name">
                        {{ author.name }}
                    </div>
                <!-- begin -->
                    <span class="personinfo">
                        <div><span>Publications: </span>{{ author.papers }}</div>
                        {% for affiliation in author.affiliations %}
                            {% if forloop.first %}
                                <div><span>Affiliation: </span>{{ affiliation }}</div>
                            {% else %}
                                <div><span>Affiliation(former): </span>{{ affiliation }}</div>
                            {% endif %}
                        {% endfor %}
                    </span>
                <!-- end -->
                </div>
            </div>
            <div id="publication" style="height: 330px">
                <div class="hd" style="height: 13%">
                    <div class="tmp">
                        Publication
                    </div>
                    <img onclick="control(event)" class="control" src="{% static '/images/swap.svg' %}" width="25px" height="25px" style="margin: auto" />
                </div>
                <div class="bd" style="display: table; height: 87%">
                    <iframe id="frame1" src="{% static '/publish.html' %}" frameborder="no" scrolling="no"></iframe>
                </div>
            </div>
            <div id="co-author" style="height: 330px">
                <div class="hd" style="height: 13%">
                    <div class="tmp">
                        Co-author network
                    </div>
                    <img onclick="control(event)" class="control" src="{% static '/images/swap.svg' %}" width="25px" height="25px" style="margin: auto" />
                </div>
                <div class="bd" style="display: table; height: 87%">
                    <iframe id="frame2" src="{% static '/coauthor.html' %}" frameborder="no" scrolling="no"></iframe>
                </div>
            </div>
            <div id="related-author" style="height: 330px">
                <div class="hd" style="height: 13%">
                    <div class="tmp">
                        Top related authors
                    </div>
                    <img onclick="control(event)" class="control" src="{% static '/images/swap.svg' %}" width="25px" height="25px" style="margin: auto" />
                </div>
                <div class="bd" style="display: table; height: 87%">
                    {% for co in coauthor %}
                        <div class="container">
                            <div class="coauthor">{{ co.0|safe }}</div>
                            <span class="copub">co-publications: {{ co.1 }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>