<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../../css/search/author/detail.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/author/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/ccfrank.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>{{ author.name }}</title>
    <!-- jQuery
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script>
        var arr = new Array(4);
        for (let i=0; i<4; i++) {
            arr[i] = new Array(3);
            for (let j=0; j<3; j++) arr[i][j] = 1;
        }
        document.addEventListener("DOMContentLoaded", function() {

        });

        function check(event) {
            let boxes = document.querySelectorAll(".check");
            var inner;
            if (event.target.className=="choose") inner = event.target.parentNode.children[1].innerHTML;
            else inner = event.target.innerHTML;
            if (inner.length) {
                let idx = 0;
                if (inner[0]=='C') idx = 1;
                else if (inner[0]=='O') idx = 2;
                boxes[4+idx].attributes[0].value = 1 - boxes[4+idx].attributes[0].value;
                if (boxes[4+idx].attributes[0].value=='1') {
                    boxes[4+idx].parentNode.children[0].style.backgroundPosition = "4px -20px"; 
                } else {
                    boxes[4+idx].parentNode.children[0].style.backgroundPosition = "4px 5px"; 
                }
            }
            for (let i=0; i<4; i++) {
                for (let j=0; j<3; j++) {
                    arr[i][j] = boxes[i].checked & boxes[4+j].attributes[0].value;
                }
            }
            let pubs = document.querySelectorAll("tr");
            let str = ["CCF-a", "CCF-b", "CCF-c", "CCF-none"];
            let str2 = ["Journal", "Conference"];
            for(let i=1; i<pubs.length; i++) {
                let x = 0, y = 0;
                for (; x<4; x++) {
                    if(pubs[i].className.indexOf(str[x])!==-1) {
                        break;
                    }
                }
                for (; y<2; y++) {
                    if(pubs[i].className.indexOf(str2[y])!==-1) {
                        break;
                    }
                }
                pubs[i].style.display = (arr[x][y] ? "table-row" : "none");
            }
        }   
        function hasClass(obj, cls) {  
            return obj.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));  
        }  
        function addClass(obj, cls) {  
            if (!this.hasClass(obj, cls)) obj.className += " " + cls;  
        }  
        function removeClass(obj, cls) {  
            if (hasClass(obj, cls)) {  
                var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');  
                obj.className = obj.className.replace(reg, ' ');  
            }  
        }  
        function toggleClass(obj, cls){  
            if (hasClass(obj,cls)){  
                removeClass(obj, cls);  
            } else {  
                addClass(obj, cls);  
            }  
        } 
        function control(event) {
            parent = event.target.parentNode.parentNode;
            toggleClass(event.target, 'special');
            hd = parent.children[0];
            bd = parent.children[1];
            if (bd.style.display==="table") {
                bd.style.display = "none";
                bd.style.height = "0%";
                hd.style.height = "100%";
                parent.style.height = "50px";
            } else {
                bd.style.display = "table";
                bd.style.height = "270px";
                hd.style.height = "50px";
                parent.style.height = "320px";
            }  
        }
        function controlsp(event) {
            parent = event.target.parentNode.parentNode;
            toggleClass(event.target, 'special');
            hd = parent.children[0];
            bd = parent.children[1];
            if (bd.style.display==="table") {
                bd.style.display = "none";
            } else {
                bd.style.display = "table";
            }  
        }
    </script>
</head>
<body>
     <!-- 头部区域 -->
     <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- banner区域 -->
    <div class="banner">
        <ul class="nav w">
            <li>
                <h4>CCF-Rank</h4>
                <div class="select">
                    <ul>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />CCF-A({{ author.ccfa }})</li>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />CCF-B({{ author.ccfb }})</li>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />CCF-C({{ author.ccfc }})</li>
                        <li><input type="checkbox" checked="checked" onclick="check(event)" class="check checkbox" />None({{ author.ccfnone }})</li>
                    </ul>
                </div>
            </li>
            <li>
                <i class="choose" onclick="check(event)" style="background-position: 4px -20px"></i>
                <h4 value=1 onclick="check(event)" class="check" />Journal({{ author.journals }})</h4> 
            </li>
            <li>
                <i class="choose" onclick="check(event)" style="background-position: 4px -20px"></i>
                <h4 value=1 onclick="check(event)" class="check" />Conference({{ author.conferences }})</h4>
            </li>
            <li>
                <i class="choose" onclick="check(event)" style="background-position: 4px -20px"></i>
                <h4 value=1 onclick="check(event)" class="check" />Other({{ author.others }})</h4>
            </li>
        </ul>
    </div>
    <!-- 内容区域 -->
    <div class="content w clearfix">
        <div class="left">
            <div class="tips">
                <span>Author: {{ author.name }}</span>
            </div>
            <div id="dirchange">
                <div class="hd">
                    Changes in research interests
                    <span onclick="controlsp(event)"></span>
                </div>
                <div class="bd" style="display: table;">
                    <iframe id="frame3" frameborder="no" scrolling="no" style="height: 610px; width:900px" src="{% static '/river.html' %}"></iframe>
                </div>
            </div>
            <div class="paperlist clearfix">
                <table>
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Authors</td>
                            <td>Year</td>
                            <td>Venue</td>
                            <td>Rank</td>
                            <td>More</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pub in author.publications %}
                        <tr class="CCF-{{pub.rank}} {{pub.type}}tr">
                            <td class="title">{{ pub.url|safe }}</td>
                            <td>
                                {% for author in pub.author %}
                                    {% if forloop.last %}
                                        <span>{{ author.0|safe }}</span>
                                    {% else %}
                                        <span>{{ author.0|safe }},</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ pub.year }}</td>
                            <td>{{ pub.kind }}</td>
                            <td>
                                <div class="ccf-rank ccf-{{pub.rank}}">
                                    {% ifequal pub.rank 'none' %}
                                        none
                                    {% else %}
                                        ccf-{{ pub.rank }}
                                    {% endifequal %}
                                </div>
                            <td>
                                <form action="{% url 'article' pub.doi %}">
                                    <button type="submit" class="detail_btn">detail</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="right">
            <div id="author">
                <div class="hd">
                    Person information
                    <span onclick="control(event)"></span>
                </div>
                <div class="bd" style="display: table;">
                    <div class="author_name">
                        {{ author.name }}
                    </div>
                <!-- begin -->
                    <span class="personinfo">
                        <div><span>Publications: </span>{{ author.papers }}</div>
                        {% for affiliation in author.affiliations %}
                            {% if forloop.first %}
                                <div><span>Affiliation: </span>{{ affiliation }}</div>
                            {% else %}
                                <div><span>Affiliation(former): </span>{{ affiliation }}</div>
                            {% endif %}
                        {% endfor %}
                    </span>
                <!-- end -->
                </div>
            </div>
            <div id="publication">
                <div class="hd" style="height: 50px">
                    Publication
                    <span class="mark" onclick="control(event)"></span>
                </div>
                <div class="bd" style="display: none; height: 270px">
                    <iframe id="frame1" src="{% static '/publish.html' %}" frameborder="no" scrolling="no"></iframe>
                </div>
            </div>
            <div id="co-author">
                <div class="hd" style="height: 50px">
                    Co-author network 
                    <span class="mark" onclick="control(event)"></span>
                </div>
                <div class="bd" style="display: none; height: 270px">
                    <iframe id="frame2" src="{% static '/coauthor.html' %}" frameborder="no" scrolling="no"></iframe>
                </div>
            </div>
            <div id="related-author">
                <div class="hd">
                    Top related authors
                    <span class="mark" onclick="control(event)"></span>
                </div>
                <div class="bd" style="display: none;">
                    {% for co in coauthor %}
                        <div class="container">
                            <div class="coauthor">{{ co.0|safe }}</div>
                            <span class="copub">co-publications: {{ co.1 }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>