<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load filters %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../../css/search/paper/detail.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/paper/detail.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>{{ article.title }}</title>
    <script>
        let index = 2; //default
        var result;
        function expand() {
            let controls = document.querySelectorAll(".Expand");
            for (let i=0; i<controls.length; i++) {
                control = controls[i];
                control.addEventListener('click', function() {
                    abstract = this.previousSibling.previousSibling;
                    if(this.innerText==='Expand') {
                        abstract.style.display = 'inline-block';
                        this.innerText = 'Collapse';
                    } else {
                        abstract.style.display = '-webkit-box';
                        this.innerText = 'Expand';
                    }
                });
            }
        }
        function gen() {
            info = result[index].split('</li>')[0];
            document.querySelector('.load').innerHTML = info;
            expand();
            // let paperurls = document.getElementsByClassName('paper-url');
            // for(let i=0; i<paperurls.length; i++) {
            //     paperurl = paperurls[i];
            //     viewtag = paperurl.nextSibling.nextSibling;
            //     if(paperurl.href.indexOf('article=//')!=-1) {
            //         paperurl.style.textDecoration = 'none';
            //         paperurl.style.cursor = 'default';
            //         viewtag.style.display = 'none';
            //     } else {
            //         viewtag.href = paperurl.href;
            //     }
            // }
        }
        function maintain() {
            if (index+1==result.length) {
                document.getElementById('next').setAttribute("disabled", true);
            } else {
                document.getElementById('next').removeAttribute("disabled");
            }
            if (index==2) {
                document.getElementById('prev').setAttribute("disabled", true);
            } else {
                document.getElementById('prev').removeAttribute("disabled");
            }
        }
        function next() {
            ++index;
            if(index>=2 && index<result.length) gen();
            maintain();
        }
        function prev() {
            --index;
            if(index>=2 && index<result.length) gen();
            maintain();
        }
        const PAPERS_PER_LIST = 5;
        function inrange(x, l, r) { // [l, r)
            return x>=l && x<r;
        }
        function work(start, listparent) {
            list = listparent.children;
            listparent.setAttribute("start", start);
            for (let i=0; i<list.length; i++) {
                if (inrange(i, start, Math.min(start+PAPERS_PER_LIST, list.length))) list[i].style.display = "block";
                else list[i].style.display = "none";
            }
            if (start-PAPERS_PER_LIST<0) {
                listparent.parentNode.children[2].disabled = true;
            } else {
                listparent.parentNode.children[2].disabled = false;
            }
            if (start+PAPERS_PER_LIST>=list.length) {
                listparent.parentNode.children[3].disabled = true;
            } else {
                listparent.parentNode.children[3].disabled = false;
            }
        }
        var tmpid = 0;
        document.addEventListener("DOMContentLoaded", function() {
            citelist = document.querySelector('.cite-list');
            work(0, citelist);
            reflist = document.querySelector('.ref-list');
            work(0, reflist);
            let xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState===4 && xmlhttp.status===200) {
                    let info = xmlhttp.responseText;
                    result = info.split('<li class=\"papers\">');
                    if (result.length<=2) {
                        let keywords = document.querySelector(".keywords").children[1].children[tmpid].innerHTML;
                        tmpid++;
                        keywords = keywords.substring(0, keywords.lastIndexOf(','));  
                        xmlhttp.open("GET", "/papersearch/?name=" + keywords, true);
                        xmlhttp.send();
                    } else {
                        if (result.length>12) {
                            result = result.slice(0, 12);
                        }
                        gen();
                        maintain();
                    }
                }
            };
            xmlhttp.open("GET", "/papersearch/?name=" + document.querySelector("#title").innerText, true);
            xmlhttp.send();
        });
        function prev2(event) {
            listparent = event.target.parentNode.children[1];
            start = Number(listparent.getAttribute('start'));
            start -= PAPERS_PER_LIST;
            work(start, listparent);
        }
        function next2(event) {
            listparent = event.target.parentNode.children[1];
            start = Number(listparent.getAttribute('start'));
            start += PAPERS_PER_LIST;
            work(start, listparent);
        }
    </script>
</head>
<body>
     <!-- 头部区域 -->
     <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <div class="top clearfix">
            <h3><a href="//doi.org/{{ article.url }}" id="title">{{ article.title }}</a></h3>
            <div class="bd">
                <div class="left">
                    <div class="pic">
                        <img src="{% static 'images/word.png' %}" alt="keyword cloud">
                    </div>
                    <!-- {% if article.citations|length %}
                    <iframe id="frame1" src="{% static '/citation.html' %}" width="420px"" height="350px" frameborder="no" scrolling="false"></iframe>
                    {% endif %} -->
                </div>
                <div class="right">
                    <div class="author">
                        <span class="label">Authors: </span>
                        <span>
                        {% for author in article.authors %}
                            {% if forloop.last %}
                                <span>{{ author }}</span>
                            {% else %}
                                <span>{{ author }},</span>
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <div class="topic">
                        <span class="label">Topic: </span>
                        <span>
                        {% for topic in article.fields %}
                            {% if forloop.last %}
                                <span>{{ topic }}</span>
                            {% else %}
                                <span>{{ topic }},</span>
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <div class="keywords">
                        <span class="label">Keywords: </span>
                        <span>
                            {% for key in keywords %}
                            {% if forloop.last %}
                                <span>{{ key }}</span>
                            {% else %}
                                <span>{{ key }}, </span>
                            {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                    <div class="other">
                        {{ article.year }}
                        <span>{{ article.venue }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <h4>abstract</h4>
            <p>{{ article.abstract }}</p>
        </div>
        <div class="bottom">
            <div class="most_related">
                <h4>most related papers</h4>
                <div id="container">
                    <div class="load">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
                <button class="prev_btn btn" type="button" id="prev" onclick="prev()">prev</button>
                <button class="next_btn btn" type="button" id="next" onclick="next()">next</button>
            </div>
            <div class="citations">
                <h4>{{ article.citations|length|parse }} citations</h4>
                <ul class="cite-list">
                    {% for paper in article.citations %}
                    <li class="clearfix" style="display:none">
                        <div class="dot"></div>
                        <div class="block">
                            <h3><a href="//doi.org/{{ paper.doi }}">{{ paper.title }}</a></h3>
                            {% if paper.authors|length %}
                            <span>
                            {% for author in paper.authors %}
                                {% if forloop.last %}
                                    <span>{{ author }}</span>
                                {% else %}
                                    <span>{{ author }},</span>
                                {% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            <span class="venue">
                                {{ paper.year }}
                                {{ paper.venue }}
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <button type="button" class="prev_btn btn" onclick="prev2(event)">prev</button>
                <button type="button" class="next_btn btn" onclick="next2(event)">next</button>
            </div>
            <div class="references">
                <h4>{{ article.references|length|parse }} references</h4>
                <ul class="ref-list">
                    {% for paper in article.references %}
                    <li class="clearfix" style="display:none">
                        <div class="dot"></div>
                        <div class="block">
                            <h3><a href="//doi.org/{{ paper.doi }}">{{ paper.title }}</a></h3>
                            {% if paper.authors|length %}
                            <span>
                            {% for author in paper.authors %}
                                {% if forloop.last %}
                                    <span>{{ author }}</span>
                                {% else %}
                                    <span>{{ author }},</span>
                                {% endif %}
                            {% endfor %}
                            </span>
                            {% endif %}
                            <span class="venue">
                                {{ paper.year }}
                                {{ paper.venue }}
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <button type="button" class="prev_btn btn" onclick="prev2(event)">prev</button>
                <button type="button" class="next_btn btn" onclick="next2(event)">next</button>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>