.ccf-rank {
    width: 50px;
    height: 24px;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border-radius: 12px;
    margin: 0 auto;
    line-height: 24px;
}
  
.ccf-a {
  background-color: #dc3545;
}

.ccf-b {
  background-color: #ffc107;
}

.ccf-c {
  background-color: #28a745;
}

.ccf-none {
  background-color: #6c757d;
}