<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load filters %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../css/search/author.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/author.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>Search for:"{{ key }}"</title>
    <script>
        function rparse(s) {
            let ss = "";
            for (let i=0; i<s.length; i++) {
                if(s[i]==',') continue;
                ss += s[i];
            }
            return ss;
        }
        function update() {
            urls = document.querySelectorAll(".info h4 a");
            infos = document.querySelectorAll(".info .body");
            loads = document.querySelectorAll(".info .load");
            for (let i=0; i<urls.length; i++) {
                let xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState===4 && xmlhttp.status===200) {
                        let info = xmlhttp.responseText.split("<!-- begin -->")[1];
                        info = info.split("<!-- end -->")[0];
                        infos[i].innerHTML = info;
                        loads[i].style.display = "none";
                    }
                }
                xmlhttp.open("GET", urls[i], true);
                xmlhttp.send();
            }
        }
        var start1 = 0, start2 = 0;
        const USERS_PER_PAGE = 4;
        function merge(url, s1, s2) {
            if (s1!=0) url += '&start1=' + s1.toString();
            if (s2!=0) url += '&start2=' + s2.toString();
            return url;
        }
        function redirectUrl(start1, start2) {
            url = window.location.href;
            let id = url.indexOf("&start");
            let redirect = url;
            if (id!==-1) {
                redirect = url.substr(0, id);
            }
            window.location = merge(redirect, start1, start2);
        }
        function next1() {
            start1 += USERS_PER_PAGE;
            redirectUrl(start1, start2);
        }
        function prev1() {
            start1 -= USERS_PER_PAGE;
            redirectUrl(start1, start2);
        }
        function next2() {
            start2 += USERS_PER_PAGE;
            redirectUrl(start1, start2);
        }
        function prev2() {
            start2 -= USERS_PER_PAGE;
            redirectUrl(start1, start2);
        }
        document.addEventListener("DOMContentLoaded", function() {

            let pictures = document.querySelectorAll(".pic");
            for (let i=0; i<pictures.length; i++) {
                let img = pictures[i].children[0];
                let d = Math.round(Math.random()*4 + 1);
                img.src = "/static/images/avatar" + d.toString() + ".svg";
            }

            let loc = window.location.search;
            if (loc.indexOf("start1=")!==-1) {
                let id = loc.indexOf("start1=") + 7;
                while (id<loc.length && loc[id]>=0 && loc[id]<=9) {
                    start1 = start1*10 + Number(loc[id]);
                    ++id;
                }
            }
            if (loc.indexOf("start2=")!==-1) {
                let id = loc.indexOf("start2=") + 7;
                while (id<loc.length && loc[id]>=0 && loc[id]<=9) {
                    start2 = start2*10 + Number(loc[id]);
                    ++id;
                }
            }
            
            let tot1 = 0;
            if (document.querySelector('.tips')) 
                tot1 = Number(rparse(document.querySelector('.tips').innerHTML.split(" ")[0]));
            let tot2 = 0;
            if (document.querySelector('.tips2')) 
                tot2 = Number(rparse(document.querySelector('.tips2').innerHTML.split(" ")[0]));
            if (tot1) {
                if (start1-USERS_PER_PAGE<0) document.querySelector('#prev1').disabled = true;
                else document.querySelector('#prev1').disabled = false;
                if (start1+USERS_PER_PAGE>=tot1) document.querySelector('#next1').disabled = true;
                else document.querySelector('#next1').disabled = false;
            }
            if (tot2) {
                if (start2-USERS_PER_PAGE<0) document.querySelector('#prev2').disabled = true;
                else document.querySelector('#prev2').disabled = false;
                if (start2+USERS_PER_PAGE>=tot2) document.querySelector('#next2').disabled = true;
                else document.querySelector('#next2').disabled = false;
            }
    
            infos = document.querySelectorAll(".info .body");
            loads = document.querySelectorAll(".info .load");
            for (let i=0; i<loads.length; i++) {
                loads[i].style.display = "inline-block";
                infos[i].innerHTML = "";
            }
            update();
        });
    </script>
</head>
<body>
    <!-- 头部区域 -->
    <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search">
        <img src="{% static '/images/scholar.svg' %}" width="35px" height="35px" style="margin: auto;float: left;" alt="scholar search/>
        <form id="trans" action="/scholarsearch/" autocomplete="off" method="get">
            <input type="text" name='name' id="search-bar" value="{{ key }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <h2><p class="msg">search results for "{{ key }}":</p></h2>
        {% if exact_len %}
        <h3 class="tips">{{ exact_len|parse }} Exact matches</h3>
        <div class="match-list clearfix" id="exact_match">
            <ul>
                {% for author in exact_authors %}
                <li>
                    <div class="pic">
                        <img src="/static/images/avatar1.svg" alt="">
                    </div>
                    <div class="info">
                        <h4>
                            <a href="{% url 'author' author.pid %}">
                                {{ author.name }}
                                <span id="number">{{ author.id }}</span>
                            </a>
                        </h4>
                        <div class="load">
                            <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div class="body">
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button class="btn" type="button" id="prev1" onclick="prev1()">prev</button>
            <button class="btn" type="button" id="next1" onclick="next1()">next</button>
        </div>
        {% endif %}
        {% if likely_len %}
        <h3 class="tips2">{{ likely_len|parse }} Likely matches</h3>
        <div class="match-list clearfix" id="likely_match">
            <ul>
                {% for author in likely_authors %}
                <li>
                    <div class="pic">
                        <img src="/static/images/avatar1.svg" alt="">
                    </div>
                    <div class="info">
                        <h4><a href="{% url 'author' author.pid %}">{{ author.name }}</a></h4>
                        <div class="load">
                            <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div class="body">
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button class="btn" type="button" id="prev2" onclick="prev2()">prev</button>
            <button class="btn" type="button" id="next2" onclick="next2()">next</button>
        </div>
        {% endif %}
    </div>

    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>