<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../css/search/author.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/author.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>Search for:"{{ key }}"</title>
    <script>
        function update() {
            urls = document.querySelectorAll(".info h4 a");
            infos = document.querySelectorAll(".info .body");
            loads = document.querySelectorAll(".info .load");
            for (let i=0; i<urls.length; i++) {
                let xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                        let info = xmlhttp.responseText.split("<!-- begin -->")[1];
                        info = info.split("<!-- end -->")[0];
                        infos[i].innerHTML = info;
                        loads[i].style.display = "none";
                    }
                }
                xmlhttp.open("GET", urls[i], true);
                xmlhttp.send();
            }
        }
        var start1 = 0, start2 = 0;
        const USERS_PER_PAGE = 4;
        function merge(url, s1, s2) {
            return url + '&start1=' + s1.toString() + '&start2=' + s2.toString();
        }
        function next1() {
            start1 += USERS_PER_PAGE;
            url = window.location.href;
            let id = url.indexOf("&start");
            let redirect = url;
            if (id!==-1) {
                redirect = url.substr(0, id);
            }
            window.location = merge(redirect, start1, start2);
        }
        function prev1() {
            start1 -= USERS_PER_PAGE;
            url = window.location.href;
            let id = url.indexOf("&start");
            let redirect = url;
            if (id!==-1) {
                redirect = url.substr(0, id);
            }
            window.location = merge(redirect, start1, start2);
        }
        function next2() {
            start2 += USERS_PER_PAGE;
            url = window.location.href;
            let id = url.indexOf("&start");
            let redirect = url;
            if (id!==-1) {
                redirect = url.substr(0, id);
            }
            window.location = merge(redirect, start1, start2);
        }
        function prev2() {
            start2 -= USERS_PER_PAGE;
            url = window.location.href;
            let id = url.indexOf("&start");
            let redirect = url;
            if (id!==-1) {
                redirect = url.substr(0, id);
            }
            window.location = merge(redirect, start1, start2);
        }
        document.addEventListener("DOMContentLoaded", function() {
            let loc = window.location.search;
            if (loc.indexOf("start1=")!==-1) {
                let id = loc.indexOf("start1=") + 7;
                while (id<loc.length && loc[id]>=0 && loc[id]<=9) {
                    start1 = start1*10 + Number(loc[id]);
                    ++id;
                }
            }
            if (loc.indexOf("start2=")!==-1) {
                let id = loc.indexOf("start2=") + 7;
                while (id<loc.length && loc[id]>=0 && loc[id]<=9) {
                    start2 = start2*10 + Number(loc[id]);
                    ++id;
                }
            }
            if (start1-USERS_PER_PAGE<0) {
                document.querySelector('#prev1').disabled = true;
            } else {
                document.querySelector('#prev1').disabled = false;
            }
            let tot1 = Number(document.querySelector('.tips').innerHTML.split(" ")[0]);
            if (start1+USERS_PER_PAGE>=tot1) {
                document.querySelector('#next1').disabled = true;
            } else {
                document.querySelector('#next1').disabled = false;
            }
            if (start2-USERS_PER_PAGE<0) {
                document.querySelector('#prev2').disabled = true;
            } else {
                document.querySelector('#prev2').disabled = false;
            }
            let tot2 = Number(document.querySelector('.tips2').innerHTML.split(" ")[0]);
            if (start2+USERS_PER_PAGE>=tot2) {
                document.querySelector('#next2').disabled = true;
            } else {
                document.querySelector('#next2').disabled = false;
            }
            infos = document.querySelectorAll(".info .body");
            loads = document.querySelectorAll(".info .load");
            for (let i=0; i<loads.length; i++) {
                loads[i].style.display = "inline-block";
                infos[i].innerHTML = "";
            }
            update();
        });
    </script>
</head>
<body>
    <!-- 头部区域 -->
    <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search">
        <form id="trans" action="/scholarsearch/" autocomplete="off" method="get">
            <input type="text" name='name' id="search-bar" value="{{ key }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <h2><p class="msg">search results for "{{ key }}":</p></h2>
        {% if exact_len %}
        <h3 class="tips">{{ exact_len }} Exact matches</h3>
        <ul class="match-list clearfix">
            {% for author in exact_authors %}
            <li>
                <div class="pic">
                    <img src="/static/images/user.png" alt="">
                </div>
                <div class="info">
                    <h4>
                        <a href="{% url 'author' author.pid %}">
                            {{ author.name }}
                            <span id="number">{{ author.id }}</span>
                        </a>
                    </h4>
                    <div class="load">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <div class="body">
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="btn-gradient" type="button" id="prev1" onclick="prev1()">prev</button>
        <button class="btn-gradient" type="button" id="next1" onclick="next1()">next</button>
        {% endif %}
        {% if likely_len %}
        <h3 class="tips2">{{ likely_len }} Likely matches</h3>
        <ul class="match-list clearfix">
            {% for author in likely_authors %}
            <li>
                <div class="pic">
                    <img src="/static/images/user.png" alt="">
                </div>
                <div class="info">
                    <h4><a href="{% url 'author' author.pid %}">{{ author.name }}</a></h4>
                    <div class="load">
                        <div class="spinner">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                    <div class="body">
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="btn-gradient" type="button" id="prev2" onclick="prev2()">prev</button>
        <button class="btn-gradient" type="button" id="next2" onclick="next2()">next</button>
        {% endif %}
    </div>

    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>