<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load filters %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="../css/search/paper.css"> -->
    <link rel="stylesheet" href="{% static 'css/search/paper.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>Search for:"{{ key }}"</title>
    <script>
        var start = 0, tot = 0;
        const PAPERS_PER_PAGE = 10;
        function rparse(s) {
            let ss = "";
            for (let i=0; i<s.length; i++) {
                if(s[i]==',') continue;
                ss += s[i];
            }
            return ss;
        }
        function merge(url, s) {
            if (s!=0) url += '&start=' + s.toString();
            return url;
        }
        function redirectUrl(start) {
            url = window.location.href;
            let id = url.indexOf("&start");
            let redirect = url;
            if (id!==-1) {
                redirect = url.substr(0, id);
            }
            return merge(redirect, start);
        }
        function next() {
            if (start+PAPERS_PER_PAGE>=tot) return;
            start += PAPERS_PER_PAGE;
            window.location = redirectUrl(start);
        }
        function prev() {
            if (start-PAPERS_PER_PAGE<0) return;
            start -= PAPERS_PER_PAGE;
            window.location = redirectUrl(start);
        }
        function get(event) {
            let id = Number(event.target.innerText);
            start = (id-1)*PAPERS_PER_PAGE;
            window.location = redirectUrl(start);
        }
        function expand() {
            let controls = document.querySelectorAll(".Expand");
            for (let i=0; i<controls.length; i++) {
                control = controls[i];
                control.addEventListener('click', function() {
                    abstract = this.previousSibling.previousSibling;
                    if(this.innerText==='Expand') {
                        abstract.style.display = 'inline-block';
                        this.innerText = 'Collapse';
                    } else {
                        abstract.style.display = '-webkit-box';
                        this.innerText = 'Expand';
                    }
                });
            }
        }
        var papers = [], cites = [], ord = [], years = [];
        document.addEventListener("DOMContentLoaded", function() {
            let loc = window.location.search;
            if (loc.indexOf("start=")!==-1) {
                let id = loc.indexOf("start=") + 6;
                while (id<loc.length && loc[id]>=0 && loc[id]<=9) {
                    start = start*10 + Number(loc[id]);
                    ++id;
                }
            }
            let idx = Math.floor(start/PAPERS_PER_PAGE) + 1;
            tot = Number(rparse(document.querySelector('#total').innerHTML));
            if (tot==0) return;
            let totpages = Math.floor((tot-1)/PAPERS_PER_PAGE) + 1;
            let pages = document.querySelector('.page');
            if (totpages<5) {
                pages.children[0].style.display = "inline";
                pages.children[8].style.display = "inline";
                pages.children[1].style.display = "none";
                for (let i=2; i<=6; i++) {
                    if (i<=totpages+1) {
                        pages.children[i].style.display = "inline";
                        let num = i - 1;
                        pages.children[i].innerHTML = num.toString();
                    } else pages.children[i].style.display = "none";
                }
                pages.children[7].style.display = "none";
                let select_id = idx + 1;
                for (let i=0; i<=8; i++) {
                    pages.children[i].style.backgroundColor = "white";
                    pages.children[i].style.color = "#1857b6";
                }
                pages.children[select_id].style.backgroundColor = "#1857b6";
                pages.children[select_id].style.color = "white";
            } else {
                for (let i=0; i<=8; i++) pages.children[i].style.display = "inline";
                let select_id = 4; // mid by default
                if (idx==1) select_id = 2;
                else if(idx==2) select_id = 3;
                else if(idx==totpages) select_id = 6;
                else if(idx==totpages-1) select_id = 5;
                if (idx<=3) pages.children[1].style.display = "none";
                if (idx+2>=totpages) pages.children[7].style.display = "none";
                for (let i=0; i<=8; i++) {
                    if (i==1 || i==7) pages.children[i].style.backgroundColor = "#f5f5f5";
                    else pages.children[i].style.backgroundColor = "white";
                    pages.children[i].style.color = "#1857b6";
                }
                pages.children[select_id].style.backgroundColor = "#1857b6";
                pages.children[select_id].style.color = "white";
                for (let i=2; i<=6; i++) {
                    let num = idx + i - select_id;
                    pages.children[i].innerHTML = num.toString();
                }
            }
            let alive = 0;
            for (let i=0; i<=8; i++) 
                if (pages.children[i].style.display=="inline") ++alive;
            switch (alive) {
                case 3:
                    pages.style.left = "63%";
                    break;
                case 4:
                    pages.style.left = "61%";
                    break;
                case 5:
                    pages.style.left = "59%";
                    break;
                case 6:
                    pages.style.left = "57%";
                    break;
                case 7:
                    pages.style.left = "55%";
                    break;
                case 8:
                    pages.style.left = "53%";
                    break;
                default:
                    pages.style.left = "50%";
            }
            if (start-PAPERS_PER_PAGE<0)
                document.querySelector('#prev').setAttribute("disabled", true);
            else
                document.querySelector('#prev').setAttribute("disabled", false);
            if (start+PAPERS_PER_PAGE>=tot)
                document.querySelector('#next').setAttribute("disabled", true);
            else
                document.querySelector('#next').setAttribute("disabled", false);
            let dompapers = document.querySelectorAll(".papers");
            for (let i=0; i<dompapers.length; i++) {
                ord.push(i);
                papers.push(dompapers[i].innerHTML);
            }
            let citations = document.querySelectorAll(".citation");
            for (let i=0; i<citations.length; i++) {
                cites.push(Number(rparse(citations[i].innerHTML.split(" ")[1])));
            }
            let domyears = document.querySelectorAll(".year");
            for (let i=0; i<domyears.length; i++) years.push(Number(domyears[i].innerHTML));
            expand();
            let selecter = document.querySelector(".selecter");
            selecter.addEventListener('change', function() {
                cur = this.value;
                for (let i=0; i<papers.length; i++) ord[i] = i;
                if (cur=="Sort by Citation Count") {
                    ord.sort((a, b) => cites[b]-cites[a] );
                } else if (cur=="Sort by Recency") {
                    ord.sort((a, b) => years[b]-years[a] );
                }
                let dompapers = document.querySelectorAll(".papers");
                for (let i=0; i<dompapers.length; i++) dompapers[i].innerHTML = papers[ord[i]];
                expand();
            });
            // let paperurls = document.getElementsByClassName('paper-url');
            // for(let i=0; i<paperurls.length; i++) {
            //     paperurl = paperurls[i];
            //     viewtag = paperurl.nextSibling.nextSibling;
            //     if(paperurl.href.indexOf('article=//')!=-1) {
            //         paperurl.style.textDecoration = 'none';
            //         paperurl.style.cursor = 'default';
            //         viewtag.style.display = 'none';
            //     } else {
            //         viewtag.href = paperurl.href;
            //     }
            // }
        });
    </script>
</head>
<body>
    <!-- 头部区域 -->
    <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="/static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search">
        <img src="{% static '/images/paper.svg' %}" width="35px" height="35px" style="margin: auto;float: left;" alt="paper search"/>
        <form id="trans" action="/papersearch/" autocomplete="off" method="get">
            <input type="text" name='name' id="search-bar" value="{{ key }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <!-- 内容区域 -->
    <div class="content w clearfix">
        <p class="msg">About <span id="total">{{ total|parse }}</span> results for "{{ key }}"</p>
        {% if total %}
        <div class="clearfix">
            <select class="selecter">
                <option>Sort by Relevance</option>
                <option>Sort by Citation Count</option>
                <option>Sort by Recency</option>
            </select>
        </div>
        <div class="paperlist">
            <ul>
                {% for article in articles %}
                <li class="papers">
                    <h3><a href="{% url 'article' article.url %}">{{ article.title }}</a></h3>
                    <div class="info">
                        {% if article.authors|length %}
                        <span>
                        {% for author in article.authors %}
                            {% if forloop.last %}
                                <span>{{ author }}</span>
                            {% else %}
                                <span>{{ author }},</span>
                            {% endif %}
                        {% endfor %}
                        </span>
                        {% endif %}
                        {% if article.fields|length %}
                        <span class="topic">
                            {% for topic in article.fields %}
                            {% if forloop.last %}
                            <span>{{ topic }}</span>
                            {% else %}
                            <span>{{ topic }},</span>
                            {% endif %}
                            {% endfor %}
                        </span>
                        {% endif %}
                        <div>
                            <span class="year">{{ article.year }}</span>
                            <span class="kind">{{ article.venue }}</span>
                        </div>
                    </div>
                    <span class="abstract">
                        <span class="tip">abstract: </span> 
                        <p>{{ article.abstract }}</p>
                    </span>
                    <div class="Expand">
                        Expand
                    </div>
                    <div class="other clearfix">
                        <img src="{% static '/images/fire.svg' %}" width="12px" height="12px" style="margin: auto" />
                        <span class="citation">citation: {{ article.citationCount|parse }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="bnav">
            <ul class="clearfix page">
                <li class="btn" type="button" id="prev" onclick="prev()">&lt;</li>
                <li>...</li>
                <li class="btn" onclick="get(event)">2</li>
                <li class="btn" onclick="get(event)">3</li>
                <li class="btn" onclick="get(event)">4</li>
                <li class="btn" onclick="get(event)">5</li>
                <li class="btn" onclick="get(event)">6</li>
                <li>...</li>
                <li class="btn" type="button" id="next" onclick="next()">&gt;</li>
            </ul>
        </div>
        {% endif %}
    </div>

    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>