/* 内容区域 */
.content {
    min-height: 600px;
    margin-top: 80px;
}
/* 内容最上部 */
.content .top {
    margin-bottom: 20px;
    background-color: #fff;
}
/* 标题 */
.content .top h3 {
    padding: 30px 20px 10px;
    text-align: center;
}
.content .top h3 a {
    display: inline-block;
    padding: 0 20px;
    color: #2368b1;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 50px;
}
    /* 左侧图片区域 */
.content .top .left {
    float: left;
    width: 35%;
    padding: 10px 10px 10px 30px;
}
.content .top .left .pic img {
    width: 100%;
}
    /* 右侧论文信息 */
.content .top .right {
    float: right;
    width: 65%;
    padding: 10px 30px 10px 10px;
    color: #888;
}
.content .top .right>div:first-of-type {
    border-top: 2px solid #f5f5f5;
}
.content .top .right>div:first-of-type>span>span::before {
    content: '\ebaf';
    padding: 0 5px;
    color: #2368b1;
    font-size: 20px;
    font-family: icomoon;
}
.content .top .right>div {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #f5f5f5;
}
.content .top .right>div .label {
    color: #333;
    font-weight: 700;
}
.content .top .right>div:last-of-type span:last-child::before {
    content: '\ed21';
    padding: 0 5px;
    color: #2368b1;
    font-size: 20px;
    font-family: icomoon;
}
    /* 摘要 */
.content .middle {
    margin-bottom: 20px;
    padding: 10px 30px;
    color: #9b9b9b;
    background-color: #fff;
}
.content .middle h4 {
    height: 40px;
    padding-left: 10px;
    border-left: 5px solid #2368b1;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
}
.content .middle p {
    padding: 10px 0;
    color: #2e3743;
    text-indent: 2em;
    line-height: 28px;
    font-size: 14px;
    overflow-wrap: anywhere;
}

.content .bottom .prev_btn {
    display: none;
    position: absolute;
    top: 45%;
    left: 0;
    border-radius: 0 50% 50% 0;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
    font-size: 0;
    transform: translate(0, -40%);
}

.content .bottom .next_btn {
    display: none;
    position: absolute;
    top: 45%;
    right: 0;
    border-radius: 50% 0 0 50%;
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
    font-size: 0;
    transform: translate(0, -40%);
}

.content .bottom .prev_btn::before {
    content: '\eb66';
    display: inline-block;
    padding: 20px 10px;
    font-family: icomoon;
    font-size: 28px;
    cursor: pointer;
}

.content .bottom .next_btn::before {
    content: '\eb67';
    display: inline-block;
    padding: 20px 10px;
    font-family: icomoon;
    font-size: 28px;
    cursor: pointer;
}
.content .bottom .most_related:hover button,
.content .bottom .citations:hover button,
.content .bottom .references:hover button {
    display: block;
}
    /* 引用 */
.content .bottom {
    margin-bottom: 20px;
    color: #9b9b9b;
}
.content .bottom .most_related,
.content .bottom .citations,
.content .bottom .references {
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.content .bottom h4 {
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: 5px solid #2368b1;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
}
.content .bottom ul {
    margin: 20px 0 50px;
}
.content .bottom ul li {
    padding: 10px 0;
    color: #888;
}
.content .bottom ul li:hover .dot {
    transform: scale(2);
}
.content .bottom ul li .dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 12px 24px;
    border-radius: 4px;
    background-color: #ddeeff;
    transition: all .5s;
}
.content .bottom ul li .block {
    float: right;
    width: 95%;
}
.content .bottom ul li .block h5 {
    padding: 0 15px;
    color: #2368b1;
    font-size: 20px;
    line-height: 32px;
}
.content .bottom ul li .block>span {
    display: inline-block;
    padding: 5px 20px 5px 15px;
}
.kind {
    color: #ffd700;
    font-weight: 700;
}
.abstract {
    position: relative;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.Expand {
    color: #1857b6;
    cursor: pointer;
    display: inline;
}
.Expand:hover {
    text-decoration:underline;
}

.abstract {
    position: relative;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.abstract .tip {
    color: #333;
    font-weight: 700;
}

.spinner {
    margin: 10px auto;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    display: inline-block;
}

.spinner > div {
    background-color:#1874cb;
    height: 100%;
    width: 6px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
    display: inline-block;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.topic {
    font-size: 15px;
    font-weight: 1000;
    display: block;
}

.btn[disabled] {
    display: none !important;
}

#container {
    padding: 5px 15px 5px 15px;
    line-height: 25px;
}