/* 头部区域 */
.header {
    z-index: 5;
}
/* banner区域 */
.banner {
    width: 100%;
    height: 100px;
    margin-top: 55px;
    background: url("/static/images/banner.jpg");
}
    /* 导航栏 */
.banner .nav>li{
    float: left;
    height: 80px;
    margin: 20px 0 0;
    padding: 0 20px;
    color: #fff;
}
.banner .nav>li:hover {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    color: #333;
}
.banner .nav>li h4 {
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
}
    /* 弹出菜单 */
.banner .nav li:first-child {
    position: relative;
}
.banner .nav li:first-child .select {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    font-size: 12px;
    z-index: 1;
}
.banner .nav li:first-child .select ul {
    display: none;
}
.banner .nav li:first-child:hover .select ul {
    display: block;
}
.banner .nav li:first-child .select ul li {
    width: 100%;
    height: 24px;
    padding: 0 20px;
    color: #333;
    line-height: 24px;
}
.banner .nav li:first-child .select ul li:hover {
    background-color: rgba(0, 0, 0, .1);
}
.banner .nav li:first-child .select ul li:last-child{
    border-radius: 0 0 5px 5px;
}
/* 内容区域 */
    /* 左侧 */
.content .tips {
    font-weight: 600;
}
.content {
    position: relative;
    min-height: 600px;
}
.content .left {
    /* float: left; */
    width: 75%;
    height: auto;
}
        /* 提示信息 */
.content .left .tips {
    color: #666;
    font-size: 15px;
}
.content .left .tips span:first-child {
    float: left;
    padding: 10px 20px;
}
    /* 论文表 */
.content .left .paperlist table {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    text-align: center;
    table-layout: fixed;
}
.content .left .paperlist table td {
    height: 40px;
    padding: 5px;
    word-break: break-all;
}
    /* 设置列宽和字体大小 */

.content .left .paperlist table tr td:nth-child(1) {
    width: 40%;
}
.content .left .paperlist table tr td:nth-child(2) {
    width: 20%;
    font-size: 12px;
}
.content .left .paperlist table tr td:nth-child(3) {
    width: 5%;
    font-size: 12px;
}
.content .left .paperlist table tr td:nth-child(4) {
    width: 15%;
    font-size: 12px;
}
.content .left .paperlist table tr td:nth-child(5) {
    width: 10%;
    font-size: 12px;
}
.content .left .paperlist table tr td:nth-child(6) {
    width: 10%;
    font-size: 12px;
}
.content .left .paperlist table tr td:nth-child(6) button {
    width: 50px;
    height: 24px;
    border: 0;
    border-radius: 12px;
    background-color: #2368b1;
    color: #fff;
}
.content .left .paperlist table tr td:nth-child(6) button:hover {
    background-color: #3399ff;
}
        /* 表头 */
.content .left .paperlist table thead tr {
    width: 100%;
    background-color: #dfdfdf;
    font-weight: 700;
}
.content .left .paperlist table thead tr td:nth-child(n){
    font-size: 14px;
}
        /* 表项 */
.content .left .paperlist table tbody tr:nth-child(odd) {
    background-color: #fcfcfc;
}
.content .left .paperlist table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
.content .left .paperlist table tbody tr:hover {
    background-color: rgba(0, 0, 0, .1);
}
    /* 右侧 */
.content .right {
    position: absolute;
    top: 10px;
    right: 0;
    width: 24%;
}
.content .right>div {
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
}
.content .right>div:first-child {
    border-radius: 5px;
}
.content .right>div .hd {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #2368b1;
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 50px;
}
.content .right>div:first-child .hd {
    border-radius: 5px 5px 0 0;
}
.content .right>div:hover .hd {
    background-color: #fd7010;
}
.content .right>div .bd {
    width: 100%;
    background-color: #fff;
}
.content .right #author .bd {
    padding: 0 15px 15px;
    color: #666;
    line-height: 20px;
    font-size: 13px;
}
#author .personinfo {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
}
.content .right #author .bd div span {
    color: #333;
    font-weight: 700;
}
.content .right #publication .bd iframe {
    width: 100%;
    height: 100%;
    margin: -8px;
}
.content .right #co-author .bd iframe {
    width: 100%;
    height: 100%;
    margin: -8px;
}
.content .right #related-author .bd {
    overflow: hidden;
    padding: 0 15px 15px;
}
#related-author .container {
    margin-top: 5px;
}

.detail_btn {
    cursor: pointer;
}

.title {
    font-weight: 550;
}

.author_name {
    font-weight: 500;
    font-size: 25px;
    color: 2e3743;
    line-height: 40px;
}

.coauthor {
    color: #1857b6;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.copub {
    display: block;
    color: #888;
}

.check {
    cursor: pointer;
}

.checkbox {
    width: 10px;
}
#author .hd span::before {
    content: '\eb50';
    position: absolute;
    right: 10px;
    font-family: icomoon;
    cursor: pointer;
}
#author .hd span.special::before {
    content: '\eb4e';
}
.mark::before {
    content: '\eb4e';
    position: absolute;
    right: 10px;
    font-family: icomoon;
    cursor: pointer;
}
.mark.special::before {
    content: '\eb50';;
}
i {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 26px;
    background: url(/static/images/icon-selected.png) no-repeat 4px 6px;
    position: relative;
    top: 18px;
    cursor: pointer;
}
