<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article infomation</title>
    <style>
        #frame1 {
            position: relative;
            left: 0px;
            top: 0px;
        }
    </style>
</head>
<body>
    <a href="//doi.org/{{ article.url }}">{{ article.title }}</a>
    <div>
        {% for topic in article.fields %}
            {% if forloop.last %}
                <span>{{ topic }}</span>
            {% else %}
                <span>{{ topic }},</span>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for author in article.authors %}
            {% if forloop.last %}
                <span>{{ author }}</span>
            {% else %}
                <span>{{ author }},</span>
            {% endif %}
        {% endfor %}
    </div>
    <div>{{ article.year }}</div>
    <div>{{ article.venue }}</div>
    <p>{{ article.abstract }}</p>
    {% load static %}
    <div><img src="{% static '/word.png' %}" alt="key words"></div>
    {% if article.citations|length %}
    {% load static %}
    <iframe id="frame1" src="{% static '/citation.html' %}" width="320px"" height="320px" frameborder="auto" scrolling="false"></iframe>
    {% endif %}
    <div>citations: {{ article.citations|length }}</div>
    <ol>
        {% for paper in article.citations %}
            <li>
                <a href="//doi.org/{{ paper.doi }}">{{ paper.title }}</a>
                <div>
                    {% for author in paper.authors %}
                        {% if forloop.last %}
                            <span>{{ author }}</span>
                        {% else %}
                            <span>{{ author }},</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>{{ paper.year }}</div>
                <div>{{ paper.venue }}</div>
            </li>
        {% endfor %}
    </ol>
    <div>references: {{ article.references|length }}</div>
    <ol>
        {% for paper in article.references %}
            <li>
                <a href="//doi.org/{{ paper.doi }}">{{ paper.title }}</a>
                <div>
                    {% for author in paper.authors %}
                        {% if forloop.last %}
                            <span>{{ author }}</span>
                        {% else %}
                            <span>{{ author }},</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div>{{ paper.year }}</div>
                <div>{{ paper.venue }}</div>
            </li>
        {% endfor %}
    </ol>
</body>
</html>