<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <style>
        body {
            height: 100%;width: 100%;
            background: url("{% static 'images/404.svg'%}") no-repeat;
            background-size:100%;
        }
        .error {
            font-weight: 500;
            font-size: 15pt;
        }
    </style>
</head>
<body>
    <div class="error">
        Error Info: <span>{{ error }}</span>
    </div>
    

</body>
</html>