<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/common.css"> -->
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'images/icon.svg' %}"/>
    <title>Tiny Scholar Search</title>
    <script>
       window.onload = function () {
            let select = document.getElementById('choices');
            select.addEventListener('change', function () {
                let author = document.getElementById('author');
                let paper = document.getElementById('paper');
                let search_bar = document.getElementById('search-bar');
                if (author.checked) {
                    document.getElementById('trans').action = author.value
                    search_bar.placeholder = "Enter an author's name";
                } else {
                    document.getElementById('trans').action = paper.value
                    search_bar.placeholder = "Enter a paper's title";
                }
            });
        }
    </script>
</head>
<body>
    <!-- 头部区域 -->
    <div class="header">
        <div class="w">
            <h1 class="logo">
                <a href="/"><img src="../static/images/logo.png" alt="logo" title="Tiny Scholar Search">Tiny Scholar Search</a>
            </h1>
            <div class="nav">
                <ul>
                    <li><a href="#">Share</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 内容区域 -->
    <div class="content w">
        <div class="img">
            <img src="../static/images/index.png" alt="index">
        </div>
        <div class="search">
            <form id="trans" action="/scholarsearch/" autocomplete="off" method="get">
                <input type="text" name='name' id="search-bar" placeholder="Enter an author's name">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="search-opt">
            <ul id="choices">
                <li><input type="radio" name="options" id="author" checked="checked" value="/scholarsearch/"><label for="author">Author</label></li>
                <li><input type="radio" name="options" id="paper" value="/papersearch/"><label for="paper">Paper</label></li>
            </ul>
        </div>
        <p>Welcome to Tiny Scholar Search system!</p>
    </div>
    <!-- 底部区域 -->
    <div class="footer">
        <div class="w">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies policy</a></li>
            </ul>
        </div>
    </div>
</body>
</html>